$('.question_form_edit').addClass('hidden');
var index = $('#<%= "#{@question.id}_question" %>').index();
$('#list-of-questions > li:nth-child(' + (index - 1) + ')').after('<li><%= @question.content %></li>');
$('#<%= "#{@question.id}_question" %>').remove();
