.answering-banner-phrase {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 19px;
  p {
    font-weight: bold;
    letter-spacing: -2px;
    color: black;
    margin-bottom: 0;
    font-size: 40px;
    span {
      color: #fd5988;
    }
  }
}

.answer {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 100;
  font-size: 18px;
  textarea {
    height: 100px;
  }
}

.answering-avatar {
  position: absolute;
  top: 20px;
  left: 42%;
  img {
    width: 150px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }

}
