.answering-banner-phrase {
  color: white;
  margin-top: 40px;
    .h1 {
    font-size: 45px;
    font-weight: 100;
    color: #2F323A;
    }
}

.answer {
  margin-top: 25px;
  margin-bottom: 25px;
}
