.dashboard-profile {

}

.dashboard-trip-card {
  margin:20px;
  color: white;
  background-size: cover !important;
  background-position: center;
  height: 150px;
  border-radius: 5px;
}

.trip-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: #EE6352;
  opacity: 0;
}
.trip-card-link:hover{
  opacity: 0.1;
}

.dashboard-card-new {
  background-color: white;
  border: 0.5 solid #D3D8D8;
  color: #2F323A;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 30px;
  }
  i {
    font-size: 40px;
  }
}

.dashboard-card-new:hover {
  color: #EE6352;
}
