.new-survey-form {
 margin: 30px auto;
 width: 42%;
 position: relative;
 background-color: #2F323A;
 opacity: 0.85;
}

.new-survey-form:focus {
 opacity: 1;
}

#survey_city {
  border: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: bold;
  width: 360px;
  border-radius: 4px;
  height: 61px;
  position: absolute;
  left: 0;
  top: 20px;
  transition: ease-in-out, color .8s ease-in-out;
}
#survey_city:focus {
color: #EE6352;
box-shadow: none;

}

#survey_start_date:focus {
color: #EE6352;
box-shadow: none;
}

#survey_start_date {
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  margin-left: -10px;
  height: 61px;
  border: none;
  position: absolute;
  right: 0;
  top: 20px;
  outline: none;
  box-shadow: none;
  transition: ease-in-out, color, .8s ease-in-out;
}

.new-survey-form-button {
  font-size: 20px;
  background: none;
  border: none;
  color: #EE6352;
  margin-left: -51px;
  position: absolute;
  right: 5px;
  top: 25px;
  outline: none;
  font-weight: bold;
  margin-top: 9px;
  padding-left: 20px;
  border-left: 1px solid lightgrey;
}
.new-survey-form-button:hover {
 color: #2F323A;
}

.explanation-banner {
  height:55vh;
  background-size: cover;
  background-position: center;
}
