.login-container {
  p {
    font-size: 40px;
    margin: 30px auto;
    font-weight: 100;
    color: white;
  }
  img {
    width: 60px;
  }
}

.login-content {
  margin: 0 auto;
  background-color: #fcfcfc;
  width: 500px;
  color: black;
  border-radius: 5px;
  padding: 15px;
  h2 {
    margin: 20px auto ;
  }
}

.signup-content {
  margin: 0 auto;
  background-color: #fcfcfc;
  width:500px;
  color: black;
  border-radius: 5px;
  padding: 15px;
  h2 {
    margin: 20px auto ;
  }
}

.facebook-button {
  margin: 28px;
  text-align: center;
  width: 90% !important;
  font-weight: 100;
}
