.login-container {
  p {
    font-size: 40px;
    margin: 30px auto;
    font-weight: 100;
    color: white;
  }
  img {
    width: 60px;
  }
}

.login-content {
  margin: 0 auto;
  background-color: #fcfcfc;
  width: 500px;
  color: black;
  border-radius: 5px;
  padding: 15px;
  h2 {
    margin: 20px auto ;
  }
}

.signup-content {
  margin: 0 auto;
  background-color: #fcfcfc;
  width:500px;
  color: black;
  border-radius: 5px;
  padding: 15px;
  h2 {
    margin: 20px auto ;
  }
}

.facebook-button {
  margin: 28px;
  text-align: center;
  width: 90% !important;
  font-weight: 100;
}

body{
    background-color: #525252;
}
.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px;
}
