.answer-image-button {
  position: absolute;
  top: 75px;
  right: 50px;
  color: #2F323A;
  font-size: 22px;
  background-color: transparent;
  border: none;
}

.answer-image-button:hover {
  color: #FF5887;
}

.response-question {
  margin: 5px;
  padding: 15px;
}

.response-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.response-answer {
  border: 1px solid #E6EAEA;
  background-color: white;
  border-radius: 5px;
  width: 30%;
  min-height: 100px;
  margin: 20px auto;
  padding: 10px;
  .response-content {
    font-size: 18px;
    text-align: justify;
  }
  .response-location {
    font-size: 16px;
    font-weight: lighter;
    color: gray;
  }
  .response-avatar {

  }
}
