.response-survey-banner {
  height: 50vh;
  background-size: cover !important;
  background-position: center;
}

.response-survey-answers-container {

}

.response-question {
  margin: 30px;
  padding: 15px;
  border: 1px solid #E6EAEA;
  background-color: white;
}

.response-answer {

}
