.question-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  position: relative;
  .checkbox {
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    border: 0.5px solid #A7B9DD;
    padding: 5px;
    width : 220px;
    height: 80px;
    text-align: center;
    overflow: scroll;
    position: relative;
  }
  .checkbox:hover {
    box-shadow: 1px 1px 6px 0px #96A6C7;
  }
}

.questions {
  background-color: rgba(62, 156, 218, 0.21);
  height: 85vh;
  margin: 20px auto;
  border-radius: 0 0 5px 5px;
}

.survey-button-container {
  margin: 20px auto;
  .survey-button {
    width: 100%;
    font-weight: 100;
    font-size: 20px;
    height: 10vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.edit-question-button {
  font-size: 15px;
  position: absolute;
  right:25px;
  bottom: 30px;
}

.new-question-button {
  font-size: 15px;
  position: absolute;
  right:60px;
  bottom: 30px;
}

.add-to-button {
  align-self: flex-end;
  position: absolute;
  left:25px;
  bottom: 30px;
}
