.share_container{
  height: 300px;
  width: 100;
}
.share_container a{
  text-decoration: none;
}
.box-white {
  background-color: white;
  padding-left: 7%;
  padding-right: 7%;
  margin: 10px 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 45vh;
  h4 {
    font-size: 18px;
  }
}

.preview-button {
  width: 90%
}

.fa-share {
  font-size: 30px;
}

.share-facebook-button {
  width: 100%;
  align-self: center;
  margin-bottom: 20px;
}

.see-answers-button {
  width: 100%;
  border-radius: 6px;
  font-weight: lighter;
  font-size: 22px;
  color: #fff;
  background-color: #FF5887;
  border-color: #E0507A;
}

.see-answers-button:hover {
  background-color: #D34B73;
  border-color: #C04569;
}

.facebook {
  background-color: #3b5998;
}
.share_link{
  margin: 20px 0;
}

.back-link i {
  color: #7F7F7F;
}

.back-link i:hover {
  color: #FF5887;
}
