.survey-summary {
  text-align: center;
  // margin: 10px;
  color: white;
  background-color: #5D737E;
  border-radius: 10px;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.summary-question-card {
  padding: 10px;
  margin: 10px auto;
  width: 70%;
  background-color: white;
  color: #2F323A;
  border-radius: 5px;
  text-align: center;
}

.category-icon {
  width: 30px;
}
