.survey-summary {
  text-align: center;
  height: auto;
  // color: white;
  // background-color: #5D737E;
  // border-radius: 5px;
  h3 {
    padding-top: 10px;
    font-size: 20px;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.fixed-summary {
  overflow: scroll;
  max-height: 45vh;
}

.fixed-summary-questions {
  overflow: scroll;
  max-height: 65vh;
}

.summary-question-button {
  width: 90%;
  border-radius: 6px;
  font-weight: lighter;
  font-size: 22px;
  margin: 10px 0px;
  color: #fff;
  background-color: #3FC1C9;
  border-color: #3FC1C9;
}

.summary-question-button:hover {
  background-color: #2F8D94;
  border-color: #287A80;
}


.summary-question-button:focus {
  color: #ffffff;
  background-color: #2F8D94 !important;
  border-color: #287A80 !important;
}

.summary-question-button:active {
  color: #ffffff;
  background-color: #2F8D94 !important;
  border-color: #287A80 !important;
}

.summary-question-card {
  padding: 10px;
  margin: 10px auto;
  width: 90%;
  background-color: white;
  color: #2F323A;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .delete-questions {
    opacity: 0;
    color: #EE6352;
    transition: ease-in-out, opacity .5s ease-in-out;
  }
  .index {
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 50%;
    background-color: #FF5887;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.summary-question-card:hover {
  .delete-questions {
    opacity: 1;
  }
}

.instructions {
  background-color: white;
  border-radius: 8px;
  color: gray;
  padding: 20px;
}

