.survey-summary {
  text-align: center;
  height: 70vh;
  // color: white;
  // background-color: #5D737E;
  // border-radius: 5px;
  h3 {
    padding-top: 10px;
    font-size: 20px;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.fixed-cards {
  overflow: scroll;
  height: 60vh;
}

.summary-question-button {
  width: 90%;
  margin: 10px 0px;
}
.summary-question-card {
  padding: 10px;
  margin: 10px auto;
  width: 90%;
  background-color: white;
  color: #2F323A;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .delete-questions {
    opacity: 0;
    color: #EE6352;
    transition: ease-in-out, opacity .5s ease-in-out;
  }
  .index {
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 50%;
    background-color: #FF5887;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.summary-question-card:hover {
  .delete-questions {
    opacity: 1;
  }
}

