.survey-summary {
  text-align: center;
  height: 70vh;
  // color: white;
  // background-color: #5D737E;
  // border-radius: 5px;
  h3 {
    padding-top: 10px;
    font-size: 20px;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.fixed-cards {
  overflow: scroll;
  height: 60vh;
}
.summary-question-button {
  padding: 0 40px;
  .btn {
    width: 100% !important;
  }
}
.summary-question-card {
  padding: 10px;
  margin: 10px 40px;
  /* width: 80%; */
  background-color: white;
  color: #2F323A;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .delete-questions {
    opacity: 0;
    color: #EE6352;
    transition: ease-in-out, opacity .3s ease-in-out;
  }
  .index {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fe5384;
    color: white;
    border-radius: 50%;
  }
  .card-picture {

  }
}

.summary-question-card:hover {
  .delete-questions {
    opacity: 1;
    cursor: pointer;
  }
}

