  <div class="container">
    <div class="row">
      <% @questions.each do |question| %>
      <div class="question-card col-xs-12 col-sm-6 col-md-4">
        <p><%= question.content %></p>
      </div>
    </div>
  </div>

