<div class="footer-container">
  <div class="footer-left text-center">
    <h4>Connect</h4>
    <ul class= "list-inline">
      <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
      <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
      <li><i class="fa fa-github" aria-hidden="true"></i></li>
    </ul>
  </div>
  <div class="footer-middle text-center">
    <h4>Partnerships</h4>
    <a href="https://www.lewagon.com">
      <%= image_tag "lewagon.png" %>
    </a>
  </div>
  <div class='footer-right text-center'>
  <h4>About us</h4>
  <ul>
      <li><i class="fa fa-envelope" aria-hidden="true"></i> Contact us</li>
      <li><i class="fa fa-users" aria-hidden="true"></i> Team</li>
    </ul>
  </div>
</div>
