<div class="footer-container">
  <div class="footer-left text-center">
    <h4>Connect</h4>
    <ul class= "list-inline">
      <li><i class="fa fa-twitter icons" aria-hidden="true"></i></li>
      <li><i class="fa fa-facebook-official icons" aria-hidden="true"></i></li>
      <li><a href="https://github.com/arthur-littm/like-minded"><i class="fa fa-github icons" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div class="footer-middle text-center">
    <h4>Partnerships</h4>
    <a href="https://www.lewagon.com">
      <%= image_tag "lewagon.png" %>
    </a>
  </div>
  <div class='footer-right text-center'>
  <h4>About us</h4>
  <ul class="list-inline">
      <li><i class="fa fa-envelope icons" aria-hidden="true"></i></li>
      <li><i class="fa fa-users icons" aria-hidden="true"></i></li>
    </ul>
  </div>
</div>
