<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= form_tag new_survey_path, method: :get do %>
<input type="text" name="city" placeholder="London">
<input type="date" name="start_date" placeholder="London">
<button type="submit" label="Search">
  <i class="fa fa-search"></i>
</button>
<% end %>

