/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

body {
  padding-top: 70px;
}

.surveys_new {
  padding-top: 0px;
}

.surveys_show {
  .alert {
    margin-top: 0 !important;
   }
   .notice {
    margin-top: 0 !important;
   }
}

.sessions_new {
  padding-top: 0px;
}

.pages_dashboard {
   padding-top: 0px;
   .alert {
    margin-top: 0 !important;
   }
   .notice {
    margin-top: 0 !important;
   }
}

.registrations_new {
  padding-top: 0px;
}

.surveys_preview {
  padding-top: 0px;
}

.surveys_answering {
  padding-top: 0px;
}


// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.datepicker {
background-color: #fff ;
color: #333 ;
}
