<%= link_to "Back to Questions", reverse_status_survey_path, method: :patch, class: "btn btn-danger survey-button back-button" %>

<div class= 'share_container'>
  <div>
    <div>
    <p class= 'share_link'> <%= "http://#{request.host+request.fullpath}" %> </p>
     <%= link_to "Back to Questions", reverse_status_survey_path, method: :patch, class: "btn btn-danger survey-button back-button" %>
     <!-- Facebook Share Button -->
     <a class="btnz share facebook" href="#"><i class="fa fa-facebook"></i> Share</a>
   </div>
 </div>
</div>
