<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="devise">
        <h1>Survey#new</h1>
        <%= simple_form_for @survey do |f| %>
        <%= f.input :city, placeholder: "London" %>
        <%= f.input :start_date %>
        <%= f.submit "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


