.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover !important;
  background-position: top;
  display: flex;
  justify-content: center;
}

.filter {
  position: relative;
  -webkit-filter: contrast(65%) brightness(120%) saturate(110%) grayscale(10%);
  filter: contrast(65%) brightness(120%) saturate(110%) grayscale(10%);
}

.banner-content {
  margin-top: 150px;
  position: relative;
}

.banner-phrase {
  font-size: 45px;
  font-weight: 100;
  color: #2F323A;
  margin-top: -75px;
}

.banner-form {
  margin-top: 75px;
}

.login-message {
  font-size: 25px;
  font-weight: 100;
  color: #2F323A;
  position:absolute;
  bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
