.tabs {
  background-color: whitesmoke;
  display: flex;
  padding: 10px auto;
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
  background: none !important;
  border: none !important;
}
.tabs h3 {
  font-size: 14px !important;
  font-weight: bold !important;
  margin-top: 15px !important;
  color: black !important;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: white;
  margin-bottom: -1px;
  border: none  !important;
  color: black !important;
  flex: 0 0 20%;
  text-align: center;
  padding: 0;
  border-left: 0.3px solid whitesmoke;
  opacity: 0.4;
  a {
    font-size: 14px !important;
    font-weight: bold !important;
    margin-top: 5px !important;
    color: black !important;
  }
}

.tab i {
  font-size: 20px;
  margin-bottom: 5px;
}

.tab:first-child {
  border-radius: 5px 0 0 0;
  border-left: none;
}
.tab:last-child {
  border-radius: 0 5px 0 0;
}
.tab.active {
  background: rgba(62, 156, 218, 0.21);
  color: #00C3C7;
  margin-bottom: 0;
  opacity: 1;
  a {
    border: 0px !important;
    background: rgba(62, 156, 218, -0.79) !important;
  }
  li {
    margin-bottom: 0 !important;
  }
}
