.tabs {
  background-color: whitesmoke;
  display: flex;
  padding: 10px auto;
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
  background: none !important;
  border: none !important;
}
.tabs h3 {
  font-size: 17px;
  font-weight: 100;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: #3E9CDA;
  flex: 0 0 20%;
  text-align: center;
  padding: 0;
  border-left: 0.3px solid whitesmoke;
}

.tab i {
  font-size: 20px;
  margin-bottom: 5px;
}

.tab:first-child {
  border-radius: 5px 0 0 0;
  border-left: none;
}
.tab:last-child {
  border-radius: 0 5px 0 0;
}
.tab.active {
  background: rgba(62, 156, 218, 0.21);
  color: #3E9CDA;
  margin-bottom: 0;
  a {
    border: 0px !important;
    background: rgba(62, 156, 218, -0.79) !important;
  }
  li {
    margin-bottom: 0 !important;
  }
}

.questions {
  background-color: rgba(62, 156, 218, 0.21);
  height: 70vh;
  margin-bottom: 20px;
  border-radius: 0 0 5px 5px;
}
